/* setup */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* elements */
html {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
}

body {
  background: url(https://i.imgur.com/kbhAxrv.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 0.9rem;
}

h3 {
  font-weight: normal;
  letter-spacing: 3px;
}

h4 {
  margin-top: 1.1rem;
}

a,
.var {
  font-weight: bold;
  color: crimson;
}

a:hover {
  text-decoration: none;
}

i {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

i:hover {
  color: crimson;
}

i:active {
  position: relative;
  top: 1px;
}

footer {
  font-weight: bold;
  right: 25px;
}

footer,
.soundtrack {
  position: fixed;
  bottom: 25px;
  font-size: 0.8rem;
  color: #111;
}

/* ids */
#text {
  background: #111;
  color: #eee;
  padding: 50px;
  margin: 5px auto 5px auto;
  text-align: justify;
  border: 3px solid #111;
  border-radius: 10px 0 10px 0;
  box-shadow: 3px 3px 0 crimson;
  width: 90%;
  line-height: 1.5;
}

/* classes */
.container {
  align-items: center;
  width: 900px;
  max-width: 80%;
  padding: 10px;
  text-align: center;
}

sub.line {
  color: #649494;
  font-size: 0.8rem;
}

.title {
  text-align: center;
}

.title > h1 {
  letter-spacing: 15px;
  text-transform: uppercase;
  color: crimson;
  font-weight: bold;
}

.img {
  background: #eee;
  margin: auto;
  max-width: 768px;
  width: 100%;
  max-height: 432px;
  height: auto;
  border: 10px solid transparent;
  border-radius: 3px;
  box-shadow: 3px 3px 0 #111;
  object-fit: cover;
}

.img:hover {
  box-shadow: 3px 3px 0 crimson;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 5px;
  margin: auto;
  padding: 0;
  width: 90%;
}

.btn {
  border-radius: 0 5px 0 5px;
  border: 3px solid #111;
  cursor: pointer;
  padding: 5px;
  margin: 3px 5px;
  transition: all 0.2s ease-in-out;
  box-shadow: 3px 3px 0 #111;
  font-family: 'Space Mono', monospace;
}

.btn:hover {
  /* border-radius: 5px 0 5px 0; */
  border: 3px solid #111;
  box-shadow: 3px 3px 0 crimson;
  background: #111;
  color: #eee;
}

.btn:active {
  position: relative;
  top: 1px;
}

.credits {
  padding: 50px;
  text-align: center;
  line-height: 2;
}

.credits a {
  text-decoration: none;
  color: #eee;
  border-bottom: 2px solid crimson;
  transition: border-bottom 0.2s;
}

.credits a:hover {
  border-bottom: 2px solid #111;
}

.soundtrack {
  left: 25px;
  width: 150px;
}

.soundtrack .playbtn {
  text-align: center;
}

.playtxt {
  font-size: 0.7rem;
}

.playtxt a {
  text-decoration: none;
  color: #111;
  border-bottom: 2px solid crimson;
  transition: border-bottom 0.2s;
}

.playtxt a:hover {
  border-bottom: 2px solid transparent;
}

/* queries */
@media only screen and (max-width: 768px) {
  #text {
    width: 100%;
    line-height: 1.7;
    padding: 40px;
  }

  .container {
    max-width: 100%;
    margin: 0 auto 50px;
    padding: 10px;
  }

  .title h1 {
    font-size: 1.8rem;
  }

  .img {
    max-width: 100%;
  }

  .btn-grid {
    width: 100%;
  }

  .btn {
    font-size: 1rem;
  }

  footer {
    display: none;
  }

  .soundtrack {
    left: 75%;
    bottom: 15px;
  }

  .playtxt {
    display: none;
    visibility: hidden;
  }
}
