/* setup */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* elements */
html {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
}

body {
  background: #222;
  background: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 0.9rem;
}

h3 {
  font-weight: normal;
  letter-spacing: 3px;
}

.line {
  font-size: 0.8rem;
}

a,
.var {
  font-weight: bold;
  color: crimson;
}

a:hover {
  text-decoration: none;
}

i,
i:visited {
  color: crimson;
  transition: all 0.2s ease-in-out;
}

i:hover {
  color: #111;
  cursor: pointer;
}

footer {
  right: 25px;
}

footer,
.soundtrack {
  position: fixed;
  bottom: 25px;
  font-size: 0.8rem;
  color: #111;
}

/* ids */
#text {
  background: #111;
  color: #eee;
  padding: 50px;
  margin: 20px auto;
  text-align: justify;
  border: 1px solid #222;
  border-radius: 10px 0 10px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 90%;
  line-height: 1.5;
}

/* classes */
.container {
  align-items: center;
  width: 900px;
  max-width: 80%;
  padding: 30px;
  text-align: center;
}

.title {
  text-align: center;
}

.title h1 {
  letter-spacing: 15px;
  text-transform: uppercase;
  color: #548484;
}

.img {
  background: #ffe;
  margin: auto;
  max-width: 768px;
  width: 100%;
  max-height: 432px;
  height: auto;
  border: 10px solid transparent;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 5px;
  margin: 20px auto 0;
  width: 90%;
}

.btn {
  border-radius: 0 5px 0 5px;
  border: 1px solid #111;
  cursor: pointer;
  padding: 5px;
  transition: all 0.35s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-family: 'Space Mono', monospace;
}

.btn:hover {
  border-radius: 5px 0 5px 0;
  border: 1px solid #111;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  background: #111;
  color: #eee;
}

.credits {
  padding: 50px;
  text-align: center;
  line-height: 2;
}

.soundtrack {
  left: 25px;
}

/* queries */
@media only screen and (max-width: 768px) {
  #text {
    width: 100%;
    line-height: 1.7;
    padding: 40px;
  }

  .container {
    max-width: 100%;
    margin: 0 auto 50px;
    padding: 10px;
  }

  .title h1 {
    font-size: 1.8rem;
  }

  .img {
    max-width: 100%;
  }

  .btn-grid {
    width: 100%;
  }

  .btn {
    font-size: 1rem;
  }

  footer {
    display: none;
  }

  .soundtrack {
    left: 90%;
  }
}
