/* setup */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
}

body {
  background: url(../img/bg.gif) bottom center/cover no-repeat fixed padding-box
    border-box #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 0.9rem;
}

.var {
  font-weight: bold;
  color: crimson;
}

.end-txt {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
}

/* holder */
.container {
  align-items: center;
  width: 900px;
  max-width: 80%;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.img {
  background: #eee;
  margin: auto;
  max-width: 768px;
  width: 100%;
  max-height: 432px;
  height: auto;
  border: 10px solid transparent;
  border-radius: 3px;
  box-shadow: 3px 3px 0 #111;
  object-fit: cover;
}

.text {
  background: #111;
  color: #eee;
  padding: 50px;
  margin: 5px auto 5px auto;
  text-align: justify;
  border: 3px solid #111;
  border-radius: 10px 0 10px 0;
  box-shadow: 3px 3px 0 crimson;
  max-width: 768px;
  width: 90%;
  line-height: 1.5;
}

.line {
  color: #999;
}

.text-null {
  display: none;
}

.txt {
  text-indent: 2rem;
}

.fim::first-letter {
  float: left;
  font-size: 6rem;
  line-height: 0.65;
  margin: 0.1em 0.2em 0.2em 0;
  text-indent: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.fim-txt {
  font-size: 1rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.bonus p {
  margin-top: 15px;
  line-height: 1.5;
}

.fa-undo {
  font-size: 1rem;
}

/* main */
.title {
  text-align: center;
}

.main-title {
  letter-spacing: 15px;
  text-transform: uppercase;
  color: crimson;
  font-weight: bold;
}

.subtitle {
  font-weight: bold;
  letter-spacing: 3px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 2s steps(30, end) 1s;
  animation-fill-mode: both;
  color: #649494;
}

.links {
  text-decoration: none;
  color: #eee;
  border-bottom: 2px solid crimson;
  transition: border-bottom 0.2s;
}

.links:hover {
  border-bottom: 2px solid transparent;
  text-decoration: none;
}

/* lang */
/* .lang-select {
  color: crimson;
}

.lang-link:hover {
  border-bottom: 2px solid crimson;
}

.active {
  cursor: pointer;
  border-bottom: 2px solid crimson;
}

.active:hover {
  border-bottom: 2px solid transparent;
}

.lang-link,
.lang-link:visited {
  text-decoration: none;
  color: crimson;
} */

/* typer */
.anim-txt {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 2s steps(30, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.cursor-blink {
  color: #eee;
  animation: 0.5s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #eee;
  }
}

/* buttons */
.btn-grid {
  display: grid;
  margin: auto;
  max-width: 768px;
  width: 90%;
}

.btn {
  border-radius: 0 5px 0 5px;
  border: 3px solid #111;
  cursor: pointer;
  padding: 5px;
  margin: 3px 5px;
  transition: all 0.2s ease-in-out;
  box-shadow: 3px 3px 0 #111;
  font-family: 'Space Mono', monospace;
}

.btn:hover {
  position: relative;
  box-shadow: 2px 2px 0 #111;
  color: #eee;
  background: crimson;
}

.btn:active {
  position: relative;
  top: 3px;
}

/* credits */
.credits {
  padding: 10px;
  text-align: center;
  line-height: 2;
}

.credits-title {
  color: crimson;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 1.5rem;
}

/* footer */
.footer {
  position: fixed;
  align-items: center;
  bottom: 25px;
  color: crimson;
  font-weight: bold;
  right: 25px;
  text-align: center;
  font-size: 0.8rem;
}

.ver {
  color: hsla(120, 73%, 75%, 0.5);
}

/* soundtrack */
.soundtrack {
  left: 15px;
  width: 150px;
}

.icon {
  color: lightgreen;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-right: 15px;
}

.icon:hover {
  color: #eee;
}

.icon:active {
  position: relative;
  top: 1px;
}

/* queries */
@media only screen and (max-width: 768px) {
  .soundtrack {
    left: 0;
  }

  .container {
    margin: 0 auto 70px;
    padding: 10px;
  }

  .container,
  .img {
    max-width: 100%;
  }

  .anim-txt,
  .subtitle {
    white-space: normal;
    animation: none;
  }

  .text {
    width: 100%;
    line-height: 1.7;
    padding: 20px;
  }

  .main-title {
    font-size: 1.8rem;
  }

  .btn-grid {
    width: 100%;
  }

  .btn {
    font-size: 1rem;
  }
}
